.userSection {
  border: none;
  gap: 1rem;

  .userName {
    display: flex;
    width: 100%;

    h1 {
      margin-right: auto;
    }

    button {
      margin-left: 2rem;
      background: none;
      border: none;
    }
  }

  .info {
    display: flex;
    width: 100%;
    gap: 1rem;

    * {
      font-size: 2rem;
    }

    span {
      margin-left: auto;
    }
  }

  .authContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 100%;

    button {
      background-color: var(--green);
      padding: 1rem;
      border-radius: 10px;
      border: none;
      color: var(--white);
      width: 100%;
    }
  }

}